# 1. Ignore everything
*

# don't Ignore this
!.gitignore

!VSCodium/User/settings.json
!fish/
!foot/
!hypr/
!kitty/
!mako/
!nvim/
!rofi/
!waybar/
!zathura/
!starship.toml

# ignore this one
./hypr/env.conf
./fish/fish_variables
