# ignore this one
hypr/env.conf
hypr/hyprpaper.conf
/fish/fish_variables

# Ignore all the following directories and files
htop/
activitywatch/
aichat/
autostart/
configstore/
create-next-app-nodejs/
dconf/
elia/
epiphany/
epy/
epr/
evolution/
falkon/
go/
goa-1.0/
google-chrome/
ghostty/
gnome-boxes/
gnome-layout-switcher.conf
gnome-session/
gtk-3.0/
gtk-4.0/
github-copilot/
ibus/
lazygit/
libvirt/
manjaro-hello.json
matplotlib/
mimeapps.list
nautilus/
neovide/
nextjs-nodejs/
nviim/
obsidian/
old_config/
opencode/
pamac/
pavucontrol.ini
pnpm/
Postman/
pulse/
qBittorrent/
qt5ct/
qt6ct/
QtProject.conf
ranger/
Slack/
superfile/
systemd/
Thunar/
totem/
user-dirs.dirs
user-dirs.locale
vivaldi/
vivaldi_css/
vlc/
walker/
xfce4/
yay/
VSCodium/
.gsd-keyboard.settings-ported
session/
kiorc
knfsshare
kde.org/
dolphinrc
baloofileinformationrc
bruno/
waypaper/
gh/
HTTPie/
