copy y
fit_to_page_width   w
fit_to_page_height  h
toggle_custom_color <C-r>
toggle_statusbar    <C-n>

screen_down;screen_down;screen_down             <space>
screen_up;screen_up;screen_up               <S-<space>>
screen_down          <down>
screen_up            <up>
toggle_fastread .
visual_mark_under_cursor ,
close_visual_mark q
