status_bar_font_size 18
font_size 28
ui_font_size 28
default_dark_mode          1
dark_mode_contrast         0.8

dak_mode_background_color 0.1 0.1 0.1
text_highlight_color       1.0 0.9 0.0


# ruler_mode                 1
# ruler_padding              1.0

search_url_s https://www.google.com/search?q=

move_screen_ratio 0.95
