status_bar_font_size 18
font_size 28
ui_font_size 28
search_url_s https://www.google.com/search?q=
move_screen_ratio 0.28
# startup_commands      toggle_custom_color;visual_mark_under_cursor;toggle_fastread
startup_commands      toggle_custom_color
vertical_line_color    0.0 0.0 0.0 0.55
ruler_mode 1
linear_filter 1

fastread_opacity 0.6
use_heuristic_if_text_summary_not_available 1
# custom_background_color  0.01 0.01 0.01
# custom_text_color        0.086 0.5 0.25
# disable_ruler_smart_jump

# autocenter_visual_scroll
visual_mark_next_page_fraction 0.9
visual_mark_next_page_threshold 0.2
