@define-color yellow-dark #f9988f;
@define-color yellow #f9e2af;
@define-color overlay2 #9399b2;
@define-color overlay1 #7f849c;
@define-color overlay0 #6c7086;

* {
    font-size: 14px;
    min-height: 0;
    font-weight: bold;
}

window#waybar {
    background: transparent;
}

button {
    border-radius: 0;
}

.modules-left, .modules-center, .modules-right {
    background: rgba(0, 0, 0, 0.8);
    border: 0.8px solid @overlay0;
    border-radius: 8px;
    padding: 0px 12px;
    margin: 0px;
}

#workspaces {
    /* Removed background and border-radius as the parent .modules-center handles the group style */
    padding: 0;
}

#workspaces button {
    padding: 0 12px;
    color: @overlay0;
}

#workspaces button.active {
    border-bottom: 2px solid @yellow-dark;
}

#workspaces button.empty {
    color: #666666; /* Grayed out but still visible */
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#pulseaudio,
#backlight,
#clock,
#battery,
#cpu,
#memory,
#tray,
#network {
    /* Remove margins as padding is handled by the group container */
    padding: 0 8px;
    color: @overlay2;
}

#clock {
    color: @yellow-dark;
}

#network {
    color: @overlay1;
}

#try{
    padding-right: 25px;
}
