@define-color yellow-dark #f9988f;
@define-color yellow #f9e2af;
@define-color overlay2 #9399b2;
@define-color overlay1 #7f849c;
@define-color overlay0 #6c7086;

* {
    font-size: 14px;
    min-height: 0;
    font-weight: bold;
}

window#waybar {
    background: transparent;
}

button {
    border-radius: 0;
}

#workspaces button {
    padding: 0 12px;
    color: @overlay0;
}

#workspaces button.active {
    border-bottom: 2px solid @yellow-dark;
}

#workspaces button.empty {
    color: #666666; /* Grayed out but still visible */
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#pulseaudio,
#clock,
#battery,
#cpu,
#memory,
#tray,
#network {
    margin-left: 6px;
    margin-right: 6px;
    color: @overlay2;
}

#clock {
    color: @yellow-dark;
}

#network {
    color: @overlay1;
}

#try{
    padding-right: 25px;
}
